aiofiles==23.2.1
aiogram==3.2.0        
aiohttp==3.9.1        
aiosignal==1.3.1      
annotated-types==0.6.0
APScheduler==3.10.4   
astroid==3.0.1        
asttokens==2.4.1      
attrs==23.1.0
bitarray==2.8.1
bitstring==4.1.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
cryptography==41.0.4
cycler==0.12.1
dictionary==1.0
dill==0.3.7
dispatcher==1.0
executing==2.0.1
executor==23.2
fasteners==0.19
fonttools==4.45.1
frozenlist==1.4.0
gmpy2==2.1.5
httptools==0.6.1
humanfriendly==10.0
icecream==2.1.3
idna==3.4
iniconfig==2.0.0
isort==5.12.0
kiwisolver==1.4.5
magic-filter==1.0.12
matplotlib==3.8.2
mccabe==0.7.0
mpmath==1.3.0
multidict==6.0.4
numpy==1.26.1
packaging==23.2
pandas==2.1.3
patool==1.12
Pillow==10.1.0
platformdirs==3.11.0
pluggy==1.3.0
property-manager==3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.15.0
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
pylint==3.0.2
pyOpenSSL==23.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadline3==3.4.1
pyTelegramBotAPI==4.14.0
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
service-identity==23.1.0
six==1.16.0
spark-parser==1.8.9
sympy==1.12
TelegramBotAPI==0.3.2
tomlkit==0.12.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uncompyle6==3.7.4
Unit==0.2.2
urllib3==2.0.4
verboselogs==1.7
xdis==5.0.13
yarl==1.9.3
